
kathryn/bulk_data/finemapping/plink_1_gene/plink_results/ld5_successful/acbd6_ld5.ld
kathryn/bulk_data/finemapping/ldlink_1_gene/plink/plink_results/ld5_successful/acbd6_ld5.ld
kathryn/bulk_data/finemapping/ldlink_1_gene/plink/plink_results/ld2_semisuccessful/acbd6_ld2.ld
